/* Coolors Exported Palette - coolors.co/1b998b-a9e5bb-43cea2-185a9d-0b2545 */

/* HSL */
$color1: hsla(173%, 70%, 35%, 1);
$color2: hsla(138%, 54%, 78%, 1);
$color3: hsla(161%, 59%, 54%, 1);
$color4: hsla(210%, 73%, 35%, 1);
$color5: hsla(213%, 73%, 16%, 1);

/* RGB */
$color1: rgba(27, 153, 139, 1);
$color2: rgba(169, 229, 187, 1);
$color3: rgba(67, 206, 162, 1);
$color4: rgba(24, 90, 157, 1);
$color5: rgba(11, 37, 69, 1);