.feature-box {
    background-color: rgba($color-white, .7);
    font-size: 1.3rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: $box-shadow-button;
    transition: transform .2s;
    
    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
        -webkit-background-clip: text; 
        color: transparent;
    }
    
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__text {
        
    }
}
